

<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

    <div class="container intro-container">
            <h3 id="about">{{ site.data.selected_publications_title | default: "Skills" }}</h3>
            <div class="row clearfix">
                <div class="{{ 'col-xs-12 ' }}">
                        <div class="{{ 'col-xs-12 ' }}">
                                <h2>Programming languages</h2>
                                <ul class="list-inline dev-icons">
                                        <li class="list-inline-item">
                                            <img src="images/python.svg" height="55"  class="desaturate pt" />
                                        </li>
                                        <li class="list-inline-item">
                                            <img src="images/c.svg" height="55"  class="desaturate pt" />
                                        </li>
                                        <li class="list-inline-item">
                                            <img src="images/cpp.svg" height="55"  class="desaturate pt" />
                                        </li>
                                        <li class="list-inline-item">
                                            <img src="images/java.svg" height="55"  class="desaturate pt" />                   
                                      </ul>

                                      <br>
                                <h2>Machine learning research</h2>
                                <ul class="list-inline dev-icons">
                                        <li class="list-inline-item" href="../html-link.htm">
                                            <a href= "https://pytorch.org/"><img src="images/pytorch.svg" height="25"  class="desaturate pt" /></a>
                                        </li>
                                        <li class="list-inline-item">
                                          <img src="images/keras.svg" height="42" width="42" class="desaturate" />
                                        </li>                        
                                        <li class="list-inline-item">
                                          <img src="images/numpy.svg" height="50" width="100" class="desaturate" />
                                        </li> 
                                        <li class="list-inline-item">
                                          <img src="images/scikit-learn-logo-notext.png" height="40" class="desaturate" />
                                        </li>       
                                        <li class="list-inline-item">
                                          <img src="images/Matlab_Logo.png" height="45" class="desaturate" />
                                        </li>                                    
                                    </ul>
                        </div>
        
                </div>
            </div>
        </div>    